.hero {
	height: 100vh;
	width: 100%;
	background: lightgray;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	margin-top: 0;
}



/* old */
.navbar {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}

body {
	font: 20px "Montserrat", sans-serif;
	line-height: 1.8;
	color: #f5f6f7;
}
p {
	font-size: 16px;
}
.navbar-nav li a:hover {
	color: #db6444 !important;
}

.bg-1 {
	background-color: lightgrey;
	color: #fff;
	margin-top: 50px;
}
.bg-2 {
	background-color: #db6444;
	color: #fff;
}
.bg-3 {
	background-color: #fff;
	color: #555;
}
.bg-4 {
	background-color: #2f2f2f;
	color: #fff;
}
.img-circle {
	height: 20%;
	width: 20%;
}
.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

/* about section */
#text{
	margin: 0 auto;
	max-width: 90%;	
}
.btn {
	color: #fff;
	background: #db6444;
	border-color: #db6444;
	transition: all 0.5s;
	cursor: pointer;
}
.btn:hover, .btn:focus {
	color: lightgrey;
	background: #db6444;
	border-color: #db6444;
}

#arrows{
	vertical-align: -2px;
}
.margin {
	margin-bottom: 45px;
}
.col-md-4 {
	padding-top: 70px;
}

/* skills */


/* end of skills */

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}


.foo {
	margin: 0;	
}
#copyright {
	margin-top: 30px;
	padding-bottom: 50px;
	font-size: 12px;
}
.foo > a {
	color: #fff;
}
.foo > a:hover, .foo > a:focus {
	color: #1abc9c !important;
	text-decoration: none;
	border-color: #fff;
}

@media screen and (min-width: 0px) and (max-width: 599px) {


}


