
.bar1, .bar2, .bar3, .bar4, .bar5, .bar6{
  height: 20px;
  width: 20%;
  padding-left: 5px;
  margin-bottom: 30px;
  background-color: #aaa;
  animation-name: anim75;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-play-state: paused; 

}
.containerBars {
  margin-bottom: 10vh;
  font-size: 16px;
  text-align: left;
  line-height: 20px;
  color: #fff;
}

.bar2 {
  animation-name: anim75;
  animation-duration: 5s;
}

.bar3 {
  animation-name: anim25;
  animation-duration: 4s;
}

.bar4 {
  animation-name: anim50;
  animation-duration: 4s;
}

.bar5 {
  animation-name: anim75;
  animation-duration: 4s;
}

.bar6 {
  animation-name: anim25;
  animation-duration: 5s;
}

.barCont {
  height: 20px;
  width: 100%;
  background-color: #eee;
  margin-bottom: 30px;
}

.percent {
	text-align: right;
	float: right;
	margin-right: 5px;
}

@keyframes anim25 {
    from {width: 10%;}
    to {width: 35%;}
}

@keyframes anim50 {
    from {width: 10%;}
    to {width: 60%;}
}

@keyframes anim75 {
    from {width: 10%;}
    to {width: 85%;}
}
